@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */

*{
    margin: 0;
    padding: 0;
}

#hero{
    background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%),url("assets/hero-bg.png");
    height: 735px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content{
    width: 818px;
    margin: 0 auto;
}

.subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25.6px;
    font-weight: 400;
    line-height: 30.4px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12.8px;
}

.title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 19.2px;
}

.description{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25.6px;
}

.btn-container{
    text-align: center;
}

.btn{
    padding: 16.8px 25.6px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 6.4px;
    background: rgb(82, 195, 3);
    border: none;
}