@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */

*{
    margin: 0;
    padding: 0;
}

#hero{
    background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%),url("assets/hero-bg.png");
    height: 735px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content{
    width: 818px;
    margin: 0 auto;
}

.subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25.6px;
    font-weight: 400;
    line-height: 30.4px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12.8px;
}

.title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 19.2px;
}

.description{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25.6px;
}

.btn-container{
    text-align: center;
}

.btn{
    padding: 16.8px 25.6px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 6.4px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
    margin-top: 52px;
}

#card-box{
    margin: 90px auto;
    width: 1056px;
}

#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19.2px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    /* margin-bottom: 35.2px; */
}

#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38.4px;
    font-weight: 400;
    line-height: 51.2px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 251.2px;
    margin-right: 251.2px;
}

.card-container{
    margin-top: 38PX;
    display: flex;
    justify-content: space-between;
    gap: 19px;
}

.card{
    max-width: 339px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width: 339px;
}

.card .image-box img{
    width: 100%;
}

.card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 11.2px 25.6px 11.2px 25.6px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19.2px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;
}

.card .heading{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.6px;
    letter-spacing: 0%;
    text-align: center;
}

.card .intro{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

#follow{
    margin-top: 109px;
    height: 538px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
        ), url('assets/social-bg.png');
}

#follow .flow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#follow .flow .head{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 109px;
}

.para{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    margin-top: 19px;
    margin-bottom: 38px;
}

.last{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px auto;
}

hr{
    width: 1056px;
    opacity: 0.6;
    border-bottom: none;
}
.f-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
   
}
.f-image img{
    height: 30px;
}

.about{
    display: flex;
    justify-content: center;
    width: 1536px;
}
.abt-image{
    height: 536px;
}
.flw{
    width: 960px;
}
.flow-head{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 109px;
}